*{ box-sizing: border-box}
body {
  background-color: #f1f1f1;
  font-family: Arial;
}

span {
    font-size: 30px;
    cursor: pointer;
    color: #9776;
    float: left;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 20px;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Side navigation */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #333;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; 
    transition: 0.5s;
  }

  /* The nav links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* push content to the right when you open sidenav */
  #main {
    transition: margin-left .5s;
  }

  /* on smaller screens */
  @media screen and (max-height: 450px) {
      .sidenav {padding-top: 10px;}
      .sidenav a {font-size: 15px;}
  }

  .row {
    margin: 8px -16px;
  }

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #111;
    margin: auto;
} 